.menu {
    position: relative;
    height: 100px;
}

.logo-area {
    position: absolute;
    left: 50%;
    bottom: 30px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.menu-area ul li {
    display: inline-block;
    float: none;
    position: relative;
    line-height: 100px;
    padding: 0 20px;
}

.menu-area ul li:nth-child(-n+3) {
    /* CSS 样式 */
    float: left;

}


.menu-area ul li:nth-child(n+4) {
    /* CSS 样式 */
    float: right;
}
/* 
.menu-area ul li:nth-child(1) {
    float: left;
} */

.ative{
    color: red;
}